Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-type-member-init,
  modernize-*,
  -modernize-use-std-print,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-avoid-const-params-in-decls,
  readability-const-return-type,
  readability-container-size-empty
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)(cortex/r5|protocol)/'
CheckOptions:
  modernize-use-trailing-return-type.TransformLambda: false
  performance-unnecessary-value-param.AllowedTypes: 'std::span;std::string_view'
